
.features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
  align-self: stretch;
  padding: 1rem 0rem;
  width: 90%;
}

.featureItem { 
  width: 50%;
}

@media screen and (max-width: 996px) {
  .featureItem {
    width: 100%;
  }
}

.featureDescription {
  text-align: justify;
}
